.container {
  width: 100%;
  margin: 0;
  border-bottom: #ccc solid 1px;
  padding-bottom: 60px;
  margin-bottom: 45px;
}

.header {
  width: 100%;
  display: flex;
}

.date {
  width: 100px;
  margin-right: 10px;
}

.tagWrapper {
  width: calc(100% - 120px);
  overflow: hidden;
  white-space: nowrap;
}

.tag {
  margin-right: 10px;
  color: #4d4d4d;
}
