.container {
  max-width: var(--max-width);
  margin: 0 auto;
  position: relative;
}

.header {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  font-size: 1.5rem;
  margin: 0;
  padding: 0 20px;
}

.desc {
  margin: 0;
  color: #666666;
}

.list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.list li {
  margin: 0;
  padding: 10px 15px 0 15px;
  font-size: 0.9rem;
}

.cliButton {
  height: 20px;
}

.cliButton img {
  height: 100%;
}

.cliButton:hover {
  transform: scale(1.1);
}

.searchBar {
  margin-left: auto;
  display: flex;
  padding: 0 20px;
}

.mobileMenuButton {
  display: none;
  margin-left: 10px;
}

.mobileSearchButton {
  display: none;
  margin-right: 10px;
}

.mobileMenuBar {
  margin: 0;
  padding: 10px;
  list-style: none;
  width: 100%;
  text-align: center;
  border-bottom: #ccc solid 1px;
}
.mobileMenuBar li {
  padding: 10px;
}

.mobileSearchBar {
  margin: 0;
  background-color: #fff;
  width: 100%;
  text-align: center;
  border-bottom: #ccc solid 1px;
}
.mobileSearchBar form {
  width: 100%;
  padding: 10px;
}
.mobileSearchBar input {
  width: 100%;
}

.dark_theme {
  background-color: #141414;
}
.light_theme {
  background-color: #fff;
}

@media all and (max-width: 1023px) {
  .list {
    display: none;
  }
  .searchBar {
    display: none;
  }
  .name {
    font-size: 1.5rem;
    margin: 0 auto;
  }
  .mobileMenuButton {
    display: flex;
  }
  .mobileSearchButton {
    display: flex;
  }
}
