.container {
  width: calc(50% - 2rem);
  margin: 1rem;
  border-radius: 10px;
  box-shadow: #ccc 0px 4px 5px 0px;
  cursor: pointer;
}

.img {
  width: 100%;
}

.detail {
  width: 100%;
  padding: 0.5rem;
}

.detail h3 {
  margin: 0;
  margin-bottom: 5px;
}
.detail p {
  margin: 0;
  margin-bottom: 5px;
}
