.container {
  width: 100%;
  margin: 0;
  border-bottom: #ccc solid 1px;
  padding-bottom: 60px;
  margin-bottom: 45px;
}

.date {
  margin-right: 15px;
}

.tag {
  margin-right: 10px;
  color: #4d4d4d;
}
