.container {
  margin: 10px 0;
  display: flex;
}
.container span {
  cursor: pointer;
  border-radius: 20px;
  padding: 2px 10px;
}

.active {
  background-color: #d6ebeb;
  color: #141414;
}

@media all and (min-width: 1023px) {
  .inactive:hover {
    background-color: #eee;
    color: #141414;
  }
}
@media all and (max-width: 1023px) {
  .container {
    display: inline-block;
  }
  .container span {
    border: #ccc solid 1px;
    margin: 0 5px;
  }
}
