.tagsWrapper {
  margin: 0 30px 20px 0;
  text-align: right;
  list-style: none;
  padding: 0;
}

.tagsWrapper li {
  margin: 5px 0;
  cursor: pointer;
}

.selectedTag {
  color: rgb(226, 129, 38);
}
