.container {
  display: flex;
}
.container input {
  padding: 5px 10px;
  border: solid #666 1px;
  border-radius: 3px;
  color: currentColor;
}
.container button {
  border-left: solid #666 1px;
  margin-left: 15px;
}

@media all and (max-width: 1023px) {
  .container button {
    display: none;
  }
}
