.container {
  width: 100%;
}

.status {
  margin: 0 30px;
  text-align: right;
}

.tagsWrapper {
  margin: 0 30px;
  text-align: right;
}

.tagsWrapper li {
  margin: 5px 0;
}

.selectedTag {
  color: rgb(226, 129, 38);
}

.postsWrapper {
  width: calc(100% - 2rem);
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  margin-top: 0;
}
