.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sub_heading {
  border: none;
  margin: 20px 0;
}

.pic {
  width: 60%;
  border-radius: 5px;
  margin-left: auto;
}

.greeting {
  width: 80%;
  margin: 20px 0 20px auto;
  text-align: right;
}

.greeting img {
  width: 50px;
  height: 50px;
  margin: 5px 0 5px 10px;
  border-radius: 5px;
  float: right;
}

@media all and (max-width: 1023px) {
  .pic {
    width: 100%;
  }
  .greeting {
    width: 90%;
  }
}
