.container {
  width: 80%;
  margin: 0 auto;
}

.pic {
  width: 100%;
  border-radius: 10px;
}

.greeting {
  width: 90%;
  margin: 20px 0 20px auto;
  text-align: right;
}
.greeting p {
  margin: 0;
  margin-bottom: 5px;
}
