.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #62b33f;
  overflow-x: hidden;
  font-size: 1rem;
  position: relative;
}

.container img {
  width: 100%;
  max-width: calc(var(--max-width) * 0.6);
}

.container pre {
  overflow-x: auto;
}

.boat {
  font-size: 5px;
  overflow-x: hidden;
}

.markdown {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--dark-theme-background);
}

.contents p {
  word-wrap: break-word;
  margin: 0;
}
.contents span {
  margin: 0 20px;
}

.cmd {
  display: flex;
  margin-top: 10px;
}
.user {
  white-space: nowrap;
  margin: 0;
  margin-right: 5px;
}
.input {
  background-color: var(--dark-theme-background);
  width: auto;
  border: none;
  padding: 0;
  outline: none;
  color: currentColor;
  width: 100%;
  font-size: 1rem;
}
