.container {
  width: 100%;
}

.canvas_wrapper {
  width: 100%;
}

.theme_button_wrapper {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  position: relative;
}

.theme_button {
  background-color: #d7d7d7;
  position: absolute;
  right: 0;
  width: 52px;
  height: 28px;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid #9b9b9b;
  padding: 3px;
  cursor: pointer;
}

.slider {
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  transition: 0.3s;
}
.dark_theme_button {
  background-color: var(--dark-theme-background);
  transform: translateX(24px);
}
.light_theme_button {
  background-color: var(--light-theme-background);
}

.canvas {
  width: 100%;
  height: 250px;
  color: #fff;
}

.night {
  background: url("/images/night.jpg") repeat-x;
}

.day {
  background: linear-gradient(
    to bottom,
    rgba(142, 206, 255, 0.4),
    rgba(174, 218, 250, 0.4),
    rgba(196, 231, 255, 0.4),
    rgb(255, 255, 255)
  );
}

.blogContainer {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 20px;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
}

.noFound {
  font-size: 1.5rem;
  margin: 20px;
  text-align: center;
}

.postList {
  width: calc(100% - 120px - 190px);
  margin-right: 120px;
}

.tag {
  width: 190px;
  text-align: left;
}

.mobileTag {
  width: 100%;
  display: none;
  text-align: center;
}

@media all and (max-width: 1023px) {
  .postList {
    width: 100%;
    margin: 0;
  }
  .tag {
    display: none;
  }
  .mobileTag {
    display: flex;
  }
  .bonVoyage {
    padding: 0;
  }
}
