.container {
  width: 100%;
}

.bonVoyage {
  text-align: center;
  font-size: 2rem;
  color: #6d6d6d;
  padding-top: 30px;
}

.canvas_wrapper {
  width: 100%;
}

.canvas {
  width: 100%;
  height: 300px;
  color: #fff;
}

.night {
  background: url("/images/night.jpg") repeat-x;
}

.day {
  background: linear-gradient(
    to bottom,
    rgba(164, 216, 255, 0.4),
    rgba(190, 228, 255, 0.4),
    rgb(255, 255, 255)
  );
}

.blogContainer {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 20px;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
}

.noFound {
  font-size: 1.5rem;
  margin: 20px;
  text-align: center;
}

.postList {
  width: calc(100% - 120px - 190px);
  margin-right: 120px;
}

.tag {
  width: 190px;
  text-align: left;
}

.mobileTag {
  width: 100%;
  display: none;
  text-align: center;
}

@media all and (max-width: 1023px) {
  .postList {
    width: 100%;
    margin: 0;
  }
  .tag {
    display: none;
  }
  .mobileTag {
    display: flex;
  }
  .bonVoyage {
    padding: 0;
  }
}
